--extra-index-url https://download.pytorch.org/whl/cu102
torch==1.10.2+cu102
tensorrt==8.4.2.4
paddlepaddle>=1.0.2
paddleocr==2.6.1.2
pyvjoy
numpy<1.24
scikit-learn
scikit-fuzzy
transitions
pycuda
cython-bbox-windows
pywin32
pyyaml
albumentations
torchvision==0.11.3
efficientnet_pytorch