--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
tensorrt==8.4.2.4
paddlepaddle>=1.0.2
paddleocr==2.6.1.2
opencv-python>=4.5.5.64
pyvjoy
numpy<1.24
scikit-learn
scikit-fuzzy
transitions
pycuda
cython-bbox-windows
pywin32
yaml